body {
    box-sizing: border-box;
    background-color: beige;
    color: white;
    margin: 0;
}

.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 34px;
    font-weight: 600;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.calc-body {
    background-color: black;
    border: 2px solid black;
    border-radius: 4%;
    width: 26rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: salmon;
    width:86%;
    height: 6rem;
    margin-top: 2rem;
    border: 1px solid salmon;
    border-radius: 5%;
    display:flex;
    justify-content: center;
}

.input-text {
    background-color: salmon;
    color: black;
    width: 84%;
    height: 3.5rem;
    margin-top: 2rem;
    text-align: right;
    font-size: 42px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:73%;
    margin: 1rem 0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color:gold
}

.top-row-buttons {
    display: flex;
    gap: 1rem;
}

.buttons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 88%;
    gap: 1rem;
}

.btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size:1.5rem;
}

.btn:hover {
    background-color: #ddd;
    cursor: pointer;
}
.btn:active {
    transform: scale(1.1);
}